[Oo]bj/
[Bb]in/
Debug/
TestResults/
.nuget/
/packages
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
nuget.exe
*net45.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*.ncrunchsolution
*.*sdf
*.ipch
*.aps
/KRuntime.sln.ide
/*.vspx
*.metaproj*
debugSettings.json
project.lock.json
version.h

/.vs/

node_modules/
src/*/wwwroot/lib/
publish/

*.db
/db/
pre.db