@using Newtonsoft.Json
@model PrestamoViewModel

@{
    ViewBag.Title = "Crear prestamo";

    var monedas = Html.GetEnumSelectList(typeof(Negocios.Moneda));
    var datosCliente = new BuscarClienteViewModel();
}

@section Css{
    <partial name="_PickadatecssPartial" />

    <environment names="Development">
        <link rel="stylesheet" href="~/css/Cliente/buscarcliente.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/Cliente/buscarcliente.min.css" />
    </environment>
}

<h2 v-data="">Crear Prestamo</h2>

<form asp-action="Crear" method="post" class="form-horizontal" role="form" id="crearPrestamoForm">
    <h4>Prestamo</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    @{
//TODO Verificar si el select tagHelper puede manejar los enum
    }

    <input asp-for="Deudor.Id" v-model="deudorId" hidden="hidden" />

    @{
//TODO Agregar el icono de exitoso y erroneo, para la busqueda del cliente
    }
    <div class="form-group">
        <label asp-for="Deudor.Cedula" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <div class="input-group">
                <input asp-for="Deudor.Cedula" type="number" v-model="cedula" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"
                            data-modal="modalBuscarCliente" data-url="@Url.Action("BuscarClienteCedula", "Cliente")"
                            v-on="click: BuscarCliente">
                        Buscar
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Deudor.NombreTitular" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="Deudor.NombreTitular" v-model="nombre" class="form-control" disabled="disabled" />

        </div>
    </div>

    <div class="form-group">
        <label asp-for="Monto.Moneda" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.Monto.Moneda, monedas, new { @class = "form-control" })
            <span asp-validation-for="Monto.Moneda" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Monto.Monto" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="Monto.Monto" type="number" v-model="monto" min="0" max="10000000" inputmode="numeric" class="form-control" />
            <span asp-validation-for="Monto.Monto" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <pre v-text="textoMonto"></pre>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Porciento" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="Porciento" min="0" max="100" v-model="tasa" inputmode="numeric" class="form-control" />
            <span asp-validation-for="Porciento" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <pre v-text="textoTasa"></pre>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PorcMora" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="PorcMora" min="0" max="100" v-model="mora" inputmode="numeric" class="form-control" />
            <span asp-validation-for="PorcMora" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <pre v-text="textoMora"></pre>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FechaInicio" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="FechaInicio" type="date" class="form-control" />
            <span asp-validation-for="FechaInicio" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FechaFin" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="FechaFin" type="date" class="form-control" />
            <span asp-validation-for="FechaFin" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FechaDesembolso" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="FechaDesembolso" type="date" class="form-control" />
            <span asp-validation-for="FechaDesembolso" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FormaPago" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.FormaPago, Html.GetEnumSelectList(typeof(Negocios.Periodo)),
new
{
    @class = "form-control"
})
            <span asp-validation-for="FormaPago" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CantCuotas" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="CantCuotas" v-model="cuotas" class="form-control" />
            <span asp-validation-for="CantCuotas" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <pre v-text="textoCuotas"></pre>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>

</form>

<div>
    <a asp-action="Index">Volver</a>
</div>

<!-- Modal -->
<div class="modal fade" id="modalBuscarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Buscar cliente</h4>
            </div>
            <div class="modal-body">
                @*<i class="fa fa-cog fa-spin fa-5x"></i>*@
                <partial name="_BuscarClientes" model="datosCliente" />
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        requirejs.config({
            map: {
                'Prestamo/prestamoViewModel': {
                    'Modernizr': 'libext/modernizr/modernizr-input',
                    'vuejs': 'lib/vue/dist/vue',
                    'accounting': 'lib/accounting/accounting',
                    'pickerES': 'lib/pickadate/lib/translations/es_ES'
                }
            },
            shim: {
                'libext/modernizr/modernizr-input': {
                    exports: 'Modernizr',
                    init: function () {
                        var ret = this.Modernizr;
                        this.Modernizr = undefined;
                        return ret;
                    }
                },
                'lib/pickadate/lib/translations/es_ES': {
                    deps: ['picker', 'pickadate', 'Comun/PickaDateTranslationFix'],
                    exports: 'jQuery.fn.pickadate.defaults'
                }
            },
            paths: {
                picker: '../lib/pickadate/lib/picker',
                pickadate: '../lib/pickadate/lib/picker.date'
            },
            config: {
                'Prestamo/prestamoViewModel': {
                    deudorId: '@Model?.Deudor?.Id',
                    monto: '@Model?.Monto?.Monto',
                    tasa: '@Model?.Porciento',
                    mora: '@Model?.PorcMora',
                    cuotas: '@Model?.CantCuotas',
                    deudorId: '@Model?.Deudor?.Id',
                    deudorCedula: '@Model?.Deudor?.Cedula',
                    deudorNombre: '@Model?.Deudor?.NombreTitular',
                    urlBuscarCliente: '@Url.Action("BuscarClientes", "Cliente")'
                }
            }
        });

        requirejs(['Prestamo/prestamoViewModel']);
    </script>
    @*<script type="text/javascript" src="~/js/Prestamo/prestamoViewModel.js"></script>*@

    @*<partial name="_ValidationScriptsPartial" />
        <partial name="_PickadatejsPartial" />

        <environment names="Development">
            <script type="text/javascript" src="~/libext/modernizr/modernizr-input.js"></script>
            <script type="text/javascript" src="~/lib/accounting/accounting.js"></script>
            <script type="text/javascript" src="~/lib/vue/dist/vue.js"></script>

            <script type="text/javascript" src="~/js/Prestamo/prestamoViewModel.js"></script>
            <script type="text/javascript" src="~/js/Cliente/buscarClienteViewModel.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script type="text/javascript" src="~/libext/modernizr/modernizr-input.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"
                    asp-fallback-src="~/lib/accounting/accounting.min.js"
                    asp-fallback-test="window.accounting">
            </script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.15/vue.min.js"
                    asp-fallback-src="~/lib/vue/dist/vue.min.js"
                    asp-fallback-test="Vue">
            </script>
            <script type="text/javascript" src="~/js/Prestamo/prestamoViewModel.min.js"></script>
        </environment>
    *@
}