@model ClienteViewModel

@{
    ViewBag.Title = "Crear cliente";
    //TODO Agregar validación de cedula de cliente por ajax
}

@section Css{
    <partial name="_PickadatecssPartial" />
}

<h2>Crear cliente</h2>

<form asp-action="Create" method="post" class="form-horizontal" role="form">
    <h4>Cliente</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

    <fieldset class="form-group">
        <label asp-for="Cedula" class="col-md-2 form-control-label"></label>
        <div class="col-md-4">
            <input asp-for="Cedula" class="form-control" />
            <span asp-validation-for="Cedula" class="text-danger"></span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label asp-for="PrimerNombre" class="col-md-2 form-control-label"></label>
        <div class="col-md-4">
            <input asp-for="PrimerNombre" class="form-control" />
            <span asp-validation-for="PrimerNombre" class="text-danger"></span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label asp-for="SegundoNombre" class="col-md-2 form-control-label"></label>
        <div class="col-md-4">
            <input asp-for="SegundoNombre" class="form-control" />
            <span asp-validation-for="SegundoNombre" class="text-danger"></span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label asp-for="PrimerApellido" class="col-md-2 form-control-label"></label>
        <div class="col-md-4">
            <input asp-for="PrimerApellido" class="form-control" />
            <span asp-validation-for="PrimerApellido" class="text-danger"></span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label asp-for="SegundoApellido" class="col-md-2 form-control-label"></label>
        <div class="col-md-4">
            <input asp-for="SegundoApellido" class="form-control" />
            <span asp-validation-for="SegundoApellido" class="text-danger"></span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label asp-for="FechaNacimiento" class="col-md-2 form-control-label"></label>
        <div class="col-md-4">
            <input asp-for="FechaNacimiento" type="date" asp-format="{0:dd-MM-yyyy}" class="form-control" />
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver</a>
</div>
@section Scripts {
    <environment names="Development">
        <script type="text/javascript">
            requirejs.config({
                map: {
                    'Cliente/clienteViewModel': {

                    }
                },
                config: {
                    'Cliente/clienteViewModel': {
                    }
                }
            });

            requirejs(['jquery.validation.unobtrusive.bootstrap', 'Cliente/clienteViewModel'], function (unobt) {
                unobt.parse(document);
            });
        </script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript">
            //TODO Crear las configuraciones para un ambiente de producción
            /*Url's de prod de las diferentes librerias
            Modernizr: ~/libext/modernizr/modernizr-input.min.js
            Vue: //cdnjs.cloudflare.com/ajax/libs/vue/0.12.15/vue.min.js
            Accounting: //cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js
            Prestamo: js/Prestamo/prestamoViewModel.min.js
            */
        </script>
    </environment>
}