@model ClienteViewModel

@{
    ViewBag.Title = "Editar " + Model.PrimerNombre;
}

@section Css{
    <partial name="_PickadatecssPartial" />
}

<h2>Editar @Model.NombreTitular</h2>

<form asp-action="Edit" method="post" class="form-horizontal" role="form">
    <h4>Cliente</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Cedula" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="Cedula" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PrimerNombre" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="PrimerNombre" class="form-control" />
            <span asp-validation-for="PrimerNombre" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SegundoNombre" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="SegundoNombre" class="form-control" />
            <span asp-validation-for="SegundoNombre" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PrimerApellido" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="PrimerApellido" class="form-control" />
            <span asp-validation-for="PrimerApellido" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SegundoApellido" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="SegundoApellido" class="form-control" />
            <span asp-validation-for="SegundoApellido" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FechaNacimiento" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="FechaNacimiento" type="date" asp-format="{0:dd-MM-yyyy}" class="form-control" />
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_PickadatejsPartial" />

    <environment names="Development">
        <script type="text/javascript" src="~/js/Cliente/clienteViewModel.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/Cliente/clienteViewModel.min.js"></script>
    </environment>
}