@model PrestamoViewModel

@{
    ViewBag.Title = "Crear prestamo";
}

@section Css{
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/pickadate/lib/themes/default.css" />
        <link rel="stylesheet" href="~/lib/pickadate/lib/themes/default.date.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.css"
              asp-fallback-href="~/lib/pickadate/lib/compressed/themes/default.css"
              asp-fallback-test-class="picker__input.picker__input--active"
              asp-fallback-test-property="border-color" asp-fallback-test-value="#0089ec" />

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.date.css"
              asp-fallback-href="~/lib/pickadate/lib/compressed/themes/default.date.css"
              asp-fallback-test-class="picker__footer" asp-fallback-test-property="text-align" asp-fallback-test-value="center" />
    </environment>

}

<h2>Crear Prestamo</h2>

<form asp-action="Crear" method="post" class="form-horizontal" role="form">
    <h4>Prestamo</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    @{
//TODO Verificar si el select tagHelper puede manejar los enum
    }
    <div class="form-group">
        <label asp-for="Monto.Moneda" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Monto.Moneda, Html.GetEnumSelectList(typeof(Negocios.Moneda)),
           new
           {
               @class = "form-control"
           })
            <span asp-validation-for="Monto.Moneda" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Monto.Monto" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Monto.Monto" type="number" data-bind="value: Monto" inputmode="numeric" class="form-control" />
            <span asp-validation-for="Monto.Monto" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PorcMora" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Porciento" min="0" max="100" class="form-control" />
            <span asp-validation-for="Porciento" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PorcMora" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PorcMora" class="form-control" />
            <span asp-validation-for="PorcMora" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FechaInicio" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FechaInicio" type="date" class="form-control" />
            <span asp-validation-for="FechaInicio" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FechaFin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FechaFin" type="date" class="form-control" />
            <span asp-validation-for="FechaFin" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FechaDesembolso" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FechaDesembolso" type="date" class="form-control" />
            <span asp-validation-for="FechaDesembolso" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FormaPago" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FormaPago, Html.GetEnumSelectList(typeof(Negocios.Periodo)),
           new
           {
               @class = "form-control"
           })
            <span asp-validation-for="FormaPago" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CantCuotas" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="CantCuotas" class="form-control" />
            <span asp-validation-for="CantCuotas" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <environment names="Development">
        <script type="text/javascript" src="~/lib/pickadate/lib/picker.js"></script>
        <script type="text/javascript" src="~/lib/pickadate/lib/picker.date.js"></script>
        <script type="text/javascript" src="~/js/PickADateFix.js"></script>
        <script type="text/javascript" src="~/lib/pickadate/lib/translations/es_ES.js"></script>
        <script type="text/javascript" src="~/lib/modernizr/modernizr-input.js"></script>
        <script type="text/javascript" src="~/lib/accounting/accounting.js"></script>
        <script type="text/javascript" src="~/lib/knockout/dist/knockout.debug.js"></script>
        <script type="text/javascript" src="~/js/Prestamo/prestamoViewModel.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js"
                asp-fallback-src="~/lib/pickadate/lib/compressed/picker.js"
                asp-fallback-test="window.Picker">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js"
                asp-fallback-src="~/lib/pickadate/lib/compressed/picker.date.js"
                asp-fallback-test="window.jQuery && jQuery().pickadate">
        </script>
        <script type="text/javascript" src="~/js/PickADateFix.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/translations/es_ES.js"
                asp-fallback-src="~/lib/pickadate/lib/compressed/translations/es_ES.js"
                asp-fallback-test="jQuery.fn.pickadate.defaults.today === 'hoy'">
        </script>
        <script type="text/javascript" src="~/lib/modernizr/modernizr-input.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"
                asp-fallback-src="~/lib/accounting/accounting.min.js"
                asp-fallback-test="window.accounting">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"
                asp-fallback-src="~/lib/knockout/dist/knockout.js"
                asp-fallback-test="window.ko">
        </script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            //https://github.com/amsul/pickadate.js/issues/160
            if (!Modernizr.inputtypes.date) {
                $('[type="date"]').pickadate({
                    onClose: function () {
                        $('.datepicker').blur();
                    }
                });
            }

            if (!Modernizr.inputtypes.number) {
                $('[type="number"]').change(function (e) {
                    e.target.value = accounting.formatNumber(e.target.value, 2);
                });

                $('[type="number"]').attr('type', 'text');
            }

            ko.applyBindings(new PR.PrestamoViewModel());
        });
    </script>
}