@model IEnumerable<Negocios.Cliente>

@{
    ViewBag.Title = "Clientes";

}
<p>Listado de clientes</p>
@{
    //TODO Verificar que exista un tag helper para este caso
}
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cedula)</th>
            <th>@Html.DisplayNameFor(model => model.NombreTitular)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model)
        {
            <tr>
                <td>
                    @Html.DisplayText(i.Cedula)
                </td>
                <td>
                    @Html.DisplayText(i.NombreTitular)
                </td>
            </tr>
        }
    </tbody>
</table>