@model BuscarClienteViewModel
@{ 
    //TODO Analizar si es mejor eliminar el modelo y poner los campos hard coded.
}
<div id="BuscadorClientes">
    <h3>Clientes</h3>

    <form asp-action="BuscarClientes" method="get" class="form-horizontal" role="form">
        <h4>Buscar cliente</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <fieldset class="form-group">
            <label asp-for="Cedula" class="form-control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Cedula" placeholder="@Html.DisplayNameFor(model => model.Cedula)" v-model="cedula" class="form-control" />
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="Nombre" class="form-control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Nombre" placeholder="@Html.DisplayNameFor(model => model.Nombre)" v-model="nombres" class="form-control" />
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="Apellido" class="form-control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Apellido" placeholder="@Html.DisplayNameFor(model => model.Apellido)" v-model="apellidos"
                       class="form-control" />
            </div>
        </fieldset>

        <div class="form-group pull-right">
            <button type="button" v-on="click: BuscarClientes" class="btn btn-default">
                <span>Buscar</span>
                @*<i class="fa fa-cog fa-spin" v-show="indBusca"></i>*@
            </button>
        </div>
    </form>

    <table class="table table-hover buscador">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-on="click: SeleccionCliente" v-repeat="clientes" data-clienteId="{{Id}}" data-nombre="{{NombreTitular}}">
                <td>{{Cedula}}</td>
                <td>{{NombreCompleto}}</td>
                <td>{{Edad}}</td>
                <td><i class="fa fa-arrow-down fa-2x"></i></td>
            </tr>
        </tbody>
    </table>
</div>